<% if(page.current==1){ %>
  <div class="index-title">
    <h1><%=theme.headline%></h1>
  </div>
<% } %>

<% if(page.current==1){ %>
  <div class="index-section-title">
    <h2><%= __('index.recently') %></h2>
  </div>
<% } %>
<section class="posts">
  <% page.posts.each(function (post) { %>
    <div class="index-post">
      <div class="index-post-title">
        <span class="post-meta post-time" title="<%= __('post.updateTime') %>">
          <%- date(post.date, "YYYY MMM DD  hh:mm") %>
        </span>
        <a class="post-title-link" href="<%- url_for(post.path) %>">
          <%= post.title %>
        </a>
      </div>
    </div>
  <% }) %>
</section>

<% if(theme.index_pagination){ %>
  <%- partial('_partial/paginator') %>
<% } else { %>
  <div class="more-articles">
    <a href="/archives"><%= __('index.more') %></a>
  </div>
<% } %>
