<%
  let flag = false
%>

<div class="index-title">
  <div class="index-banner">
    <h1><%=theme.headline%></h1>
    <% if(theme.homePageMeta.enable){ %>
      <div class="homepage-meta">
        <% for(const name in theme.homePageMeta.social) { %> 
          <% if (flag === false){ flag = true } else { %>
            <span class="homepagemetasep"></span>
          <% } %>
          <a href="<%- theme.homePageMeta.social[name].link %>" target="_blank" rel="noreferrer noopener">
            <span class="<%- theme.homePageMeta.social[name].icon %>"> <%-
              theme.homePageMeta.social[name].title || ''
            %></span>
          </a>
        <% } %> 
      </div>
    <% } %>
  </div>
</div>

<% if (theme.recently.enable) { %>
  <div class="index-section-title">
    <h2><%= __('index.recently') %></h2>
  </div>
  <section class="recently-updated archive">
    <%- partial('component/post-list', { listPosts: page.posts.slice(0,theme.recently.count), Year: false, Month: false }) %>
  </section>
<% } %>

<% if (theme.recommend.enable) { %>
  <div class="index-section-title">
    <h2><%= __('index.recommend') %></h2>
  </div>
  <section class="recommend archive">
    <%- partial('component/post-list', { listPosts: page.posts.filter(p => p.recommend), Year: false, Month: false }) %>
  </section>
<% } %>

<div class="more-articles">
  <a href="/archives"><%= __('index.more') %></a>
</div>