<%
  let flag = false
%>

<% if(page.current == 1){ %>
  <div class="index-title"><div class="index-banner">
    <h1><%=theme.headline%></h1>
    <% if(theme.homePageMeta.enable){ %>
      <div class="homepage-meta">
        <% for(const name in theme.homePageMeta.social) { %> 
          <% if (flag === false){ flag = true } else { %>
            <span class="homepagemetasep"></span>
          <% } %>
          <a href="<%- theme.homePageMeta.social[name].link %>" target="_blank" rel="noreferrer noopener">
            <span class="<%- theme.homePageMeta.social[name].icon %>"> <%-
              theme.homePageMeta.social[name].title || ''
            %></span>
          </a>
        <% } %> 
      </div>
    <% } %>
  </div></div>
<% } %>

<% if(page.current == 1){ %>
  <div class="index-section-title">
    <h2><%= __('index.recently') %></h2>
  </div>
<% } %>
<section class="posts">
  <% page.posts.each(function (post) { %>
    <div class="index-post">
      <div class="index-post-title">
        <span class="post-meta post-time" title="<%= __('post.updateTime') + __('colon') + lctzDate(post.date, 'LLLL (zZ)') %>">
          <%- lctzDate(post.date, "LL") %>
        </span>
        <a class="post-title-link" href="<%- url_for(post.path) %>">
          <%= post.title %>
        </a>
      </div>
    </div>
  <% }) %>
</section>

<% if(theme.index_pagination){ %>
  <%- partial('component/paginator') %>
<% } else { %>
  <div class="more-articles">
    <a href="/archives"><%= __('index.more') %></a>
  </div>
<% } %>
