<article class="post">
  <div class="post-title">
    <h1 class="page-title"><%= page.title %></h1>
  </div>
  <%- partial('component/post/info') %>
  <%- partial('component/post/toc') %>
  <div class="post-content">
    <%- page.content %>
  </div>
  <%- partial('component/post/hash') %>
  <%- partial('component/post/footer') %>
</article>

<%- partial('component/post/valine') %>