<article class="post">
  <div class="post-title">
    <h2 class="title"><%= page.title %></h2>
  </div>
  <%- partial('component/post/info') %>
  <br>
  <%- partial('component/post/toc') %>
  <br>
  <div class="post-content">
    <%- page.content %>
  </div>
  <%- partial('component/post/hash') %>
  <%- partial('component/post/footer') %>
</article>

<%- partial('component/post/valine') %>