<article class="post">
  <div class="post-title">
    <h2 class="title"><%= page.title %></h2>
  </div>
  <div class="post-meta">
    <span class="post-time"><%- date(page.date, "MMM DD , YYYY") %></span>
    <% if (theme.wordcount){const len=page.raw.replace(/\s/g,'').length; %>
      ,<span class="post-wordcount">
        <%= len<1000? len+'c':number_format(len/1000,{precision: 1})+'k' %>
      </span>
    <% } %>
    <div class="post-directory">
      <%
        let s=page.source.split('\/').slice(0,-1);
        s[0]="";
        let url="/directory";
      %>
      <a class="directory" href="<%=url_for(url)%>">Home</a>
      <% s.forEach((dir, i) => { %>
          <% url = url + dir + '\/'; %>
          <a class="directory" href="<%=url_for(url)%>">
            <%= theme.directory.wordmap[dir]?theme.directory.wordmap[dir]:dir %>
          </a>
          /
      <% }) %>
      Current
    </div>
    <% if (page.tags && page.tags.length){ %>
      <div class="post-list-tags">
        <% page.tags.forEach((tag, i) => { %>
          <a class="tag" href="<%=url_for(tag.path)%>">
            <%='#'+tag.name%>
          </a>
        <% }) %>
      </div>
    <% } %>
  </div>
  <br>
  <%- partial('_partial/toc') %>
  <br>
  <div class="post-content">
    <%- page.content %>
  </div>

  <% if (page.historyHash) { %>
    <hr>
    <h3>修订记录</h3>
    <div class="post-history-list"><ol reversed>
      <% let tothis = page.historyHash.length || 0; page.historyHash.forEach((hashstr, index) => { %>
        <li class="post-history-item">
          <%= 
            historyParseTime(hashstr) + (tothis-index == 1 ? `创建文章，` : `第${tothis - index}次修订，`) + `哈希值：` + historyParseHash(hashstr)
          %> 
        </li>
      <% }); %> 
    </ol></div>
  <% } %>

  <div class="post-footer">
    <hr>
    <% if(page.next){ %>
      <div class="next-post">
        <span class="iconfont icon-arrowleftcircle1187576easyiconnet"></span> 
        <a href="/<%=page.next.path%>">
          <%=page.next.title%>
        </a>
      </div>
    <% } %>
    <% if(page.prev){ %>
      <div class="prev-post">
        <a href="/<%=page.prev.path%>">
          <%=page.prev.title%>
        </a> 
        <span class="iconfont icon-arrowrightcircle1187580easyiconnet"></span>
      </div>
    <% } %>
  </div>
</article>


<%- partial('_partial/valine') %>
