<div class="post-meta">
  <div class="post-info">
    <span class="post-info-item post-time" title="<%- lctzDate(page.date, "LLLL (zZ)") %>">
      <span class="info-icon iconfont icon-time"></span><%-
       __('post.updateAt', lctzDate(page.date, "LL")) %>
    </span>
    <% if (theme.wordcount){ %>
      <span class="icon infosep"></span><span class="post-info-item post-wordcount">
        <span class="info-icon iconfont icon-text"></span><%- 
          __('post.wordCount', wordCount(page.raw)) %>
      </span>
    <% } %>
    <% if (page.recommend){ %>
      <span class="icon infosep"></span><span class="post-info-item post-recommend">
        <span class="info-icon iconfont icon-favorite"></span><%= __('index.recommend') %>
      </span>
    <% } %>
  </div>
  <div class="post-directory">
    <%
      let s=page.source.split('\/').slice(0,-1);
      s[0]="";
      let url="/directory";
    %>
    <span class="iconfont icon-folder-close"></span>
    <a class="directory" href="<%=url_for(url)%>">Home</a>
    <% s.forEach((dir, i) => { %>
        <% url = url + dir + '\/'; %>
        <a class="directory" href="<%=url_for(url)%>">
          <%= theme.directory.wordmap[dir] ? theme.directory.wordmap[dir] : dir %>
        </a>
        <span class="icon smallarrow"></span>
    <% }) %>
    <%- __('post.current') %>
  </div>
  <% if (page.tags && page.tags.length){ %>
    <div class="post-tags">
      <% page.tags.forEach((tag, i) => { %>
        <span class="tag"><span class="meta-icon iconfont icon-tag"></span
          ><a class="tag" href="<%= url_for(tag.path) %>"
          ><%= tag.name %></a></span>
      <% }) %>
    </div>
  <% } %>
  <hr />
</div>