<div class="post-meta-card">
  <div class="post-meta-title">
    <a href="<%=data.url%>" target="<%=data.target%>">
      <%=data.title%>
    </a>
  </div>
  <div class="post-meta-data">
    <div class="post-meta-time">
      <time datetime="<%= data.datetime %>" title="<%= data.fullDate %>">
        <span class="month"><%= data.monthText %></span>
        <span class="day"><%= data.dayText %></span>
        <span class="time"><%= data.timeText %></span>
      </time>
    </div>
    <% if (data.tags && data.tags.length){ %>
      <div class="post-meta-tags">
        <% data.tags.forEach((tag, i) => { %>
          <span class="tag"><a class="tag" href="<%=url_for(tag.path)%>"><%=
           '#' + tag.name
          %></a></span>
        <% }) %>
      </div>
    <% } %>
  </div>
</div>