<footer id="footer">
  <%- partial('visitor') %>
  <div class="copyright">
    <span>Copyright &copy; <%=theme.copyright.duration%> - <%= config.author %></span>
  </div>
  <div class="license">
    <span>
    <%= __('post.copyrightDeclaration') %> 
    <a target="_blank" rel="license noreferrer noopener" href="<%= theme.copyright.license.link %>">
      <%= theme.copyright.license.title %>
    </a>.
    </span>
  </div>
  <div class="credit">
    <span>Themed
    <a href="https://github.com/sshwy/hexo-theme-essence" target="_blank" rel="noreferrer noopener">Essence</a>
    for <a href="http://hexo.io" target="_blank" rel="noreferrer noopener">Hexo</a></span>
  </div>
</footer>
