<footer id="footer">

  <%- partial('./visitor') %>

  <% if (theme.wordcount){ %>
    <span class="post-wordcount iconfont icon-yuedu"></span>
    <%= __('post.totalWordCount', insertComma(totalWords)) %>
  <% } %>

  <div class="license" style="padding: 0 10px;">
    <span>
    <%= __('post.copyrightDeclaration') %> 
    <a target="_blank" rel="license noreferrer noopener" href="<%= theme.copyright.license.link %>">
      <%= theme.copyright.license.title %>
    </a>
    </span>
  </div>

  <div class="credit">
    <span>Themed
    <a href="https://github.com/sshwy/hexo-theme-essence" target="_blank" rel="noreferrer noopener">Essence</a>
    for <a href="http://hexo.io" target="_blank" rel="noreferrer noopener">Hexo</a></span>
  </div>

  <% if (theme.friends.enable && site.data && site.data.friends) { %>
    <div class="friends">
      <span class="friend-link-span"><%= __('friendLink') %> </span>
      <% for(const item in site.data.friends) { %>
        <span class="icon friendsep"></span>
        <a href="<%= site.data.friends[item].link %>">
          <span class="friend-link-span" title="<%= site.data.friends[item].description || '' %> ">
            <%- site.data.friends[item].title %> 
          </span>
        </a>
      <% } %>
    </div>
  <% } %>

  <div class="copyright">
    <span>Copyright &copy; <%=theme.copyright.duration%> - <%= config.author %></span>
  </div>

</footer>
