<header>
  <div class="header" style="min-height: 60px; width: 100%;">
    <div class="header-inner" style="position: fixed; z-index: 20; top: 0; left: 0;">
      <div class="header-content" style="max-width: 1200px; margin: auto;">
        <div class="blog-title">
          <span class="iconfont icon-menu" id="menu-button"></span>
          <a href="<%- url_for() %>" class="logo header-title">
            <%= config.title %>
          </a>
          <div class="mobile-search">
            <form onsubmit="mobileSearchSubmit(); return false;" class="search-form">
              <input type="text" />
            </form>
            <span class="iconfont icon-search mobile-search-icon"></span>
            <span class="iconfont icon-baseline-close-px search-close-icon"></span>
          </div>
        </div>
        <div class="navbar" id="menu-list">
          <ul class="menu">
            <% for (name in theme.menu) { %>
              <li class="menu-item">
                <a href="<%- url_for(theme.menu[name].link) %>" class="menu-item-link">
                  <% if(theme.menu[name].icon){ %>  
                    <span class="<%= theme.menu[name].icon %>"></span>
                  <% } if(!(theme.menu[name].icon_only)){ %>  
                    <%= name %>
                  <% } %>
                </a>
              </li>
            <% } %>
          </ul>
        </div>
        <div class="search">
          <form onsubmit="searchSubmit(); return false;" class="search-form">
            <input type="text" />
          </form>
          <span class="iconfont icon-search search-icon"></span>
          <span class="iconfont icon-baseline-close-px search-close-icon"></span>
        </div>
      </div>
    </div>
    <div class="search-shadow"> </div>
    <div class="search-box">
      <%- partial('./search-container', null, { cache: true }) %>
    </div>
  </div>
</header>
